.input-container{
    background-image: url('https://img.freepik.com/free-vector/cloud-background-pastel-paper-cut-design-vector_53876-135919.jpg');
}
.weather-app-container{
    background-image: url('https://img.freepik.com/free-vector/summer-sun-background-yellow-3d-design-vector_53876-135916.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696809600&semt=ais');
    height: 1000vh;
}